*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px dotted red;
}

header{
    background-color: #FF6900;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container-centered{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#header-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-inner>div{
    background-color: red;
    min-width: 50px;
}

#tipo ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 5px;
}

#main-inner{
padding-top: 60px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding-bottom: 30px;
background-color: aqua;
gap: 25px;
}

#main-inner>div{
    background-color: blue;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: space-between;
}

.riquadro-articolo{
    width: 30%;
}

footer{
    background-color: #1A1A1A;
    height: 40px;
}

#footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-inner>div{
    height: 100%;
    min-width: 70px;
    background-color: black;
}


